﻿@{
    ViewBag.Title = "Race Results";
}

<div class="floatRight">
    <h2>Sweepstake Results</h2>
    @if ((ViewBag.MemberWinnings as Dictionary<mcphekt1___Sweepstakes.Models.Member, double>).Count > 0)
    {
        //If there are members in the sweepsteaks
        <h3>Placing of Member Horses</h3>
        <table>
            <tr>
                <th>Horse</th>
                <th>Finishing Position</th>
            </tr>
            @foreach (mcphekt1___Sweepstakes.Models.Horse horse in (ViewBag.OrderedHorses as List<mcphekt1___Sweepstakes.Models.Horse>).Where(h => h.AssignedMember != null))
            {
                //Show each horse with its finishing position
                <tr>
                    <td>@horse.Name</td>
                    <td>@horse.FinishingPosition</td>
                </tr>
            }
        </table>
    
        <h3>Member Winnings</h3>
        <table>
        <tr>
            <th>Name</th>
            <th>Horses</th>
            <th>Winnings</th>
        </tr>
        @foreach (KeyValuePair<mcphekt1___Sweepstakes.Models.Member, double> member in ViewBag.MemberWinnings as Dictionary<mcphekt1___Sweepstakes.Models.Member, double>)
        {
            //Show each members name
            <tr>
                <td>@member.Key.Name</td>
                @{
                    string horses = "";
                    //Loop for every horse assigned to this member add its name to the string
                    foreach (mcphekt1___Sweepstakes.Models.Horse horse in member.Key.AssignedHorses)
                    {
                    
                        horses += horse.Name + ", \r\n";
                    }
                    horses = horses.TrimEnd('\n', '\r', ' ', ',');
                        <td>@horses</td>
                 }
                 <td>@member.Value.ToString("C")</td>
            </tr>
        }
        </table>
        <h3>Total Pool: @(((double)(ViewBag.TotalPool)).ToString("C"))</h3>
    }
    else
    {
        //No members in sweepstakes
        <h3>No one entered the sweepstakes :(</h3>
    }
</div>

<h2>Race Results</h2>

<table>
    <tr>
        <th>Horse</th>
        <th>Form</th>
        <th>Finishing Position</th>
    </tr>
    @foreach (mcphekt1___Sweepstakes.Models.Horse horse in ViewBag.OrderedHorses as List<mcphekt1___Sweepstakes.Models.Horse>)
    {
        //For every horse in the ordered list show its name, form and finishing position
        <tr>
            <td>@horse.Name</td>
            <td>@horse.Form</td>
            <td>@horse.FinishingPosition</td>
        </tr>
    }
</table>
<br />