﻿@{
    ViewBag.Title = "Results";
}

<h2>Run the Race</h2>
@{
    using (Html.BeginForm("DisplayResults", "Results", FormMethod.Post))
    {
        <input type="submit" id="runRaceButton" value="Run Race" />
    }
}
