﻿html
{
    height:  100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body
{
    width: 100%;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

#wrapper
{
    margin: 0 auto;
    min-width: 300px;
    width: 960px;
    max-width: 960px;
    height: 90%;
    margin-top: 20px;
}

#header
{
    background: -webkit-linear-gradient(left, rgba(255, 50, 150, 0.8) 60%, rgba(255, 50, 150, 0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255, 50, 150, 0.8) 60%, rgba(255, 50, 150, 0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255, 50, 150, 0.8) 60%, rgba(255, 50, 150, 0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255, 50, 150, 0.8) 60%, rgba(255, 50, 150, 0)); /* Standard syntax */
    
    padding: 10px;
    color: White;
}

#title
{
    margin: 0;
    padding: 0;
}

#subtitle
{
    margin: 0;
    padding: 0;
}

#content
{
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(255,255,255,0.8);
    padding-bottom: 100px;
    overflow: auto;
}

#footer
{
    margin-top: 20px;
    background: -webkit-linear-gradient(left, rgba(255, 50, 150, 0) 0%, rgba(255, 50, 150, 0.8) 35%, rgba(255, 50, 150, 0.8) 65%, rgba(255, 50, 150, 0) 100%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255, 50, 150, 0) 0%, rgba(255, 50, 150, 0.8) 35%, rgba(255, 50, 150, 0.8) 65%, rgba(255, 50, 150, 0) 100%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255, 50, 150, 0) 0%, rgba(255, 50, 150, 0.8) 35%, rgba(255, 50, 150, 0.8) 65%, rgba(255, 50, 150, 0) 100%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255, 50, 150, 0) 0%, rgba(255, 50, 150, 0.8) 35%, rgba(255, 50, 150, 0.8) 65%, rgba(255, 50, 150, 0) 100%); /* Standard syntax */
    height: 30px;
    text-align: center;
    line-height: 30px;
}


nav
{
    display: block;
    overflow: auto;
}

nav a
{
    display:block;
    float: left;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: white;
    margin-right: 5px;
}

nav a:hover
{
    text-decoration: underline;
    font-weight: bold;
}

#cupImage
{
    float: right;
    width: 200px;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
}

table, th, td
{
    border: 1px solid black;
    border-collapse: collapse;
}

td
{
    padding: 5px;
    white-space: pre;
}

.floatRight
{
    float: right;
}

#runRaceButton
{
    height: 40px;
    width: 200px;
    font-size: 20px;
    line-height: 20px;
}