﻿@{
    ViewBag.Title = "Home";
}

<h2>Welcome to our company sweepstakes page</h2>
<img id='cupImage' src='@Url.Content("~/Content/MelbourneCup1.png")' alt="The Melbourne Cup"/>
<p>The Melbourne Cup is Australia's major thoroughbred horse race. Marketed as "the race that stops a nation", it is a 3,200 metre race for three-year-olds and over. It is the richest "two-mile" handicap in the world, and one of the richest turf races. Conducted by the Victoria Racing Club on the Flemington Racecourse in Melbourne, Victoria, the event starts at 3pm (daylight saving time) on the first Tuesday in November.</p>
<p>Each year we hold a sweepstakes for $10 a horse, each member can have up to three randomly assigned horses.</p>