﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link href='@Url.Content("~/Content/myStyles.css")' rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="wrapper">
        <div id="header">
            <h1 id="title">Melbourne Cup Sweepstakes</h1>
            <h2 id="subtitle">@ViewBag.Title</h2>
            <nav>
                @Html.ActionLink("Home", "Index", "Home")
                @Html.ActionLink("Overview", "ShowOverview", "Overview")
                @Html.ActionLink("Results", "ResultsForm", "Results")
                @Html.ActionLink("Signup", "RegistrationForm", "Registration")
            </nav>
        </div>
        <div id="content">
            @RenderBody()
        </div>
        <div id="footer">
            <p>Created By Kierran McPherson</p>
        </div>
    </div>
</body>
</html>
