﻿@model mcphekt1___Sweepstakes.Models.AllDataContainer

@{
    ViewBag.Title = "Overview";
}

<div class="floatRight">
    <h2>Available Horses</h2>

    @if (Model.AllHorses.Where(h => h.AssignedMember == null).Count() > 0)
    {
        //If their are unassigned horses
        <table width="400px">
            <tr>
                <th>Name</th>
                <th>Form</th>
            </tr>
    
            @foreach (mcphekt1___Sweepstakes.Models.Horse horse in Model.AllHorses.Where(h => h.AssignedMember == null))
            {
                //loop for every horse in the model that has no assigned member
                <tr>
                    <td>@horse.Name</td>
                    <td>@horse.Form</td>
                </tr>
            }
        </table>
    }
    else
    {
        //All horses have been assigned
        <h3>All horses are taken</h3>
    }
</div>

<h2>All Horses</h2>
<table width="400px">
        <tr>
            <th>Name</th>
            <th>Form</th>
        </tr>
    
        @foreach (mcphekt1___Sweepstakes.Models.Horse horse in Model.AllHorses)
        {
            //loop for every horse in the model
            <tr>
                <td>@horse.Name</td>
                <td>@horse.Form</td>
            </tr>
        }
</table>


<h2>Members</h2>

@if (Model.AllMembers.Count > 0)
{
    //If there are members in the model
    <table width="400px">
        <tr>
            <th>Name</th>
            <th>Horses</th>
        </tr>
            @foreach (mcphekt1___Sweepstakes.Models.Member member in Model.AllMembers)
            {
                //loop for every member in the models list of members
                <tr>
                    <td>@member.Name</td>
                    @{
                string horses = "";
                //For every horse that this member has been assigned
                foreach (mcphekt1___Sweepstakes.Models.Horse horse in member.AssignedHorses)
                {
                    //Add the horses name to the string
                    horses += horse.Name + ", \r\n";
                }
                //Trim off the extra characters at the end
                horses = horses.TrimEnd('\n', '\r', ' ', ',');
                        <td>@horses</td>
                    }
                </tr>
            }
    </table>
    <h3>Current Pool: @((Model.AllHorses.Where(h => h.AssignedMember != null).Count() * 10).ToString("C"))</h3>
}
else
{
    // There are no members in the system
    <h3>No one has signed up yet. You could be the first!</h3>
}
    
