﻿@model mcphekt1___Sweepstakes.Models.Member

@{
    ViewBag.Title = "Signup";
}

<h2>Registration</h2>
@using (Html.BeginForm("RegistrationForm", "Registration", FormMethod.Post))
{
    <fieldset>
        <legend>Enter your details</legend>
        @Html.LabelFor(m => m.Name, "Your Name: ")
        @Html.TextBoxFor(m => m.Name, new { placeholder = "Peter Willowbee" }) @Html.ValidationMessageFor(m => m.Name)
        <br />
        @Html.LabelFor(m => m.Email, "Your Email: ")
        @Html.TextBoxFor(m => m.Email, new { placeholder = "pwillowbee@gmail.com" }) @Html.ValidationMessageFor(m => m.Email)
        <br />
        <br />
        <label for="numHorses">Number of Horses ($10 each): </label>
        @Html.DropDownListFor(m => m.NumberOfHorses, ViewBag.NumberOfHorses as SelectList) @Html.ValidationMessageFor(m => m.NumberOfHorses)
        <br />
        <input type="submit" name="submit" value="Sign Up" />
    </fieldset>
}
