﻿@model mcphekt1___Sweepstakes.Models.Member

@{
    ViewBag.Title = "Success";
}

<h2>Success</h2>
<p>Thank you for registering @Model.Name</p>
<h3>Your Horses Are:</h3>
@foreach (mcphekt1___Sweepstakes.Models.Horse horse in Model.AssignedHorses)
{
    <b>@horse.Name</b><br />
}
<h3>Please pay @((Model.AssignedHorses.Count * 10).ToString("C")) to the sweepstakes manager</h3>